altair==4.1.0
folium==0.11.0
geographiclib==1.50
geopy==2.0.0
gitdb==4.0.7
GitPython==3.1.14
glob2 @ file:///home/linux1/recipes/ci/glob2_1610991677669/work
idna @ file:///home/linux1/recipes/ci/idna_1610986105248/work
importlib-metadata @ file:///opt/concourse/worker/volumes/live/4e25a0be-45cc-4b73-4314-4604f00e30a4/volume/importlib-metadata_1617877365451/work
ipykernel==5.5.0
ipython==7.22.0
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets==7.6.3
jedi==0.18.0
Jinja2 @ file:///tmp/build/80754af9/jinja2_1612213139570/work
jmespath==0.10.0
json5==0.9.4
jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
libarchive-c @ file:///tmp/build/80754af9/python-libarchive-c_1617780486945/work
matplotlib==3.4.0
mistune==0.8.4
nbclient==0.5.3
nbconvert==6.0.7
nbformat @ file:///tmp/build/80754af9/nbformat_1617383369282/work
nest-asyncio==1.5.1
notebook==6.3.0
numpy==1.18.1
olefile==0.46
packaging @ file:///tmp/build/80754af9/packaging_1611952188834/work
paho-mqtt==1.5.0
pandas==1.0.3
pandocfilters==1.4.3
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///opt/concourse/worker/volumes/live/0aff898a-aba9-4321-76c2-58d629e96356/volume/pillow_1617386155885/work
pkginfo==1.7.0
plotly @ file:///tmp/build/80754af9/plotly_1610565580232/work
prometheus-client==0.9.0
prompt-toolkit==3.0.18
protobuf==3.12.4
psutil @ file:///opt/concourse/worker/volumes/live/8e01e0e9-ea07-4efa-7afb-fae37c1b9faa/volume/psutil_1612298009056/work
ptyprocess==0.7.0
pyarrow==3.0.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pydeck==0.6.1
Pygments==2.8.1
pyobjc-core==7.2
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
PyYAML==5.4.1
pyzmq==22.0.3
QtPy==1.9.0
scipy==1.6.2
seaborn==0.11.1
sqlparse==0.3.1
streamlit==0.80.0
streamlit-folium==0.0.1
